<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-20px card-group">
    <div class="card h-100">
        	<div class="maxthumb">
            <a href="{{ .Permalink }}">
                {{$images := .Resources.ByType "image"}}
                {{with $images.GetMatch "*cover*" }}
								<img class="img-fluid" src="{{ .Permalink }}" alt="{{ $.Params.title }}">
                {{end}}                
            </a>
<h4></h4>
        </div>			
           <!--	 
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
						<h4 class="card-text">{{ .Summary }}</h4>            
        </div>
					 -->
        <div class="card-footer bg-white">
            <div class="wrapfooter">
										<!--
                {{if isset .Site.Params "author"}}
                {{if isset .Site.Params "author_thumb"}}
                    <span class="meta-footer-thumb">
                    <img class="author-thumb" src="{{ .Site.Params.author_thumb | urlize | relURL  }}" alt="{{ .Site.Params.author }}">
                    </span>                
                    <span class="author-meta">
														<span class="post-name">{{ .Site.Params.author }}</a></span><br/>
                {{end}}
                {{end}}
										-->
										<span class="post-date"><b><a style="font-size:1.3em; color: black;" href="{{ .Permalink }}">{{ .Title }}</a></b>
														<p style="font-size:0.9em; text-align: right;"> Ostatnia Aktualizacja: {{ dateFormat "02-01-2006" .Lastmod }}</span></p>
														<span style="font-size: 1.1em;">{{ .Summary }}</span>
<div class="clearfix"></div> 
            </div>
        </div>
    </div>
 </div>
<!-- end post -->
